In [29]:
import os
import pandas as pd

Selection du dossier pour le projet

In [32]:
pd.options.display.max_columns = None
df = pd.read_csv("raw_data/houses_Madrid.csv")

In [33]:
df.head(2)

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,NaN,4,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666,NaN,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
print(df['id'].is_unique)

True

La colonne 'id' (index 1) ne contient que des valeurs unique, elle peut servir d'
La colonne index 0 n'apporte rien, on peut la supprimer

In [35]:
df = pd.read_csv("raw_data/houses_Madrid.csv", index_col=1)
df = df.drop(df.columns[0], axis=1)
df.head(1)

,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False

Il y a plusieurs colonnes vide

In [36]:
df_clean = df.dropna(axis=1, how='all')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 21742 to 1
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         21742 non-null  object
 1   subtitle                      21742 non-null  object
 2   sq_mt_built                   21616 non-null  float64
 3   sq_mt_useful                  8228 non-null   float64
 4   n_rooms                       21742 non-null  int64
 5   n_bathrooms                   21726 non-null  float64
 6   n_floors                      1437 non-null   float64
 7   sq_mt_allotment               1432 non-null   float64
 8   raw_address                   16277 non-null  object
 9   is_exact_address_hidden       21742 non-null  bool
 10  street_name                   15837 non-null  object
 11  street_number                 6300 non-null   object
 12  floor                         19135 non-null  object
 13  is_floor_under                20572 non-null  object
 14  neighborhood_id               21742 non-null  object
 15  operation                     21742 non-null  object
 16  rent_price                    21742 non-null  int64
 17  is_rent_price_known           21742 non-null  bool
 18  buy_price                     21742 non-null  int64
 19  buy_price_by_area             21742 non-null  int64
 20  is_buy_price_known            21742 non-null  bool
 21  house_type_id                 21351 non-null  object
 22  is_renewal_needed             21742 non-null  bool
 23  is_new_development            20750 non-null  object
 24  built_year                    10000 non-null  float64
 25  has_central_heating           13608 non-null  object
 26  has_individual_heating        13608 non-null  object
 27  has_ac                        11211 non-null  object
 28  has_fitted_wardrobes          13399 non-null  object
 29  has_lift                      19356 non-null  object
 30  is_exterior                   18699 non-null  object
 31  has_garden                    1556 non-null   object
 32  has_pool                      5171 non-null   object
 33  has_terrace                   9548 non-null   object
 34  has_balcony                   3321 non-null   object
 35  has_storage_room              7698 non-null   object
 36  is_accessible                 4074 non-null   object
 37  has_green_zones               4057 non-null   object
 38  energy_certificate            21742 non-null  object
 39  has_parking                   21742 non-null  bool
 40  is_parking_included_in_price  7719 non-null   object
 41  parking_price                 7719 non-null   float64
 42  is_orientation_north          11358 non-null  object
 43  is_orientation_west           11358 non-null  object
 44  is_orientation_south          11358 non-null  object
 45  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(7), int64(4), object(30)
memory usage: 7.1+ MB

In [37]:
df = df_clean
df.head()

,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,raw_address,is_exact_address_hidden,street_name,street_number,floor,is_floor_under,neighborhood_id,operation,rent_price,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_accessible,has_green_zones,energy_certificate,has_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,3,False,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,False,True,False,False
21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,4,False,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN
21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,"Calle del Talco, 68",False,Calle del Talco,68,1,False,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,722,False,144247,1535,True,HouseType 1: Pisos,False,False,NaN,False,True,NaN,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN
21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,Calle Pedro Jiménez,True,Calle Pedro Jiménez,NaN,Bajo,True,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583,False,109900,1717,True,HouseType 1: Pisos,False,False,1955.0,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,True,True,NaN,en trámite,False,NaN,NaN,False,False,True,False
21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,Carretera de Villaverde a Vallecas,True,Carretera de Villaverde a Vallecas,NaN,4,False,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,1094,False,260000,2407,True,HouseType 1: Pisos,False,False,2003.0,NaN,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,True,en trámite,True,True,0.0,True,True,True,True

In [38]:
df.columns

Index(['title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'n_floors', 'sq_mt_allotment', 'raw_address',
       'is_exact_address_hidden', 'street_name', 'street_number', 'floor',
       'is_floor_under', 'neighborhood_id', 'operation', 'rent_price',
       'is_rent_price_known', 'buy_price', 'buy_price_by_area',
       'is_buy_price_known', 'house_type_id', 'is_renewal_needed',
       'is_new_development', 'built_year', 'has_central_heating',
       'has_individual_heating', 'has_ac', 'has_fitted_wardrobes', 'has_lift',
       'is_exterior', 'has_garden', 'has_pool', 'has_terrace', 'has_balcony',
       'has_storage_room', 'is_accessible', 'has_green_zones',
       'energy_certificate', 'has_parking', 'is_parking_included_in_price',
       'parking_price', 'is_orientation_north', 'is_orientation_west',
       'is_orientation_south', 'is_orientation_east'],
      dtype='object')

In [39]:
na_columns = df.columns[df.isna().all()]
print(na_columns)

Index([], dtype='object')

In [40]:
df.to_feather(r'data/mardrid_houses.feather')

In [42]:
df.shape

(21742, 46)