In [2]:
import chardet
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
with open('data/cleaned.csv', 'rb') as file :
    encodage = chardet.detect(file.read(10000))

print(encodage)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [5]:
pd.options.display.max_columns = None
df = pd.read_csv("data/cleaned.csv", encoding='utf-8-sig')

In [6]:
df.head()

,built_year,buy_price,buy_price_by_area,energy,floor,has_ac,has_balcony,has_central_heating,has_fitted_wardrobes,has_green_zones,has_garden,has_individual_heating,has_lift,has_parking,has_pool,has_storage_room,has_terrace,is_accessible,is_exterior,is_floor_under,is_new_development,is_orientation_east,is_orientation_north,is_orientation_south,is_orientation_west,is_parking_included_in_price,is_renewal_needed,n_bathrooms,n_floors,n_rooms,neighborhood,parking_price,rent_price,sq_mt_allotment,sq_mt_built,sq_mt_useful,type
0,NaN,100000,1250,NaN,3,0,1,NaN,0,0,0,NaN,0.0,0,0,0,0,0,1.0,0.0,False,0.0,1.0,1.0,0.0,NaN,1,1.0,NaN,3,134,NaN,539,NaN,80.0,65.0,piso
1,NaN,100000,1250,a,Bajo,0,0,NaN,0,0,0,NaN,0.0,0,0,0,0,0,1.0,1.0,False,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,3,134,NaN,539,NaN,80.0,60.0,piso
2,NaN,100000,1408,b,5,0,0,0.0,0,0,0,1.0,1.0,0,0,0,0,0,1.0,0.0,False,0.0,0.0,0.0,1.0,NaN,0,1.0,NaN,3,135,NaN,539,NaN,71.0,62.0,piso
3,NaN,100000,1429,NaN,3,0,0,NaN,0,0,0,NaN,0.0,0,0,0,1,0,1.0,0.0,False,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,2,86,NaN,539,NaN,70.0,65.0,piso
4,NaN,100000,1538,NaN,4,0,0,0.0,0,0,0,1.0,0.0,0,0,0,1,0,1.0,0.0,False,NaN,NaN,NaN,NaN,NaN,0,1.0,NaN,2,12,NaN,539,NaN,65.0,NaN,piso

In [ ]:
# Utilisez le paramètre dtype pour forcer les colonnes à être des entiers non signés (UInt)
df = pd.read_csv(
    'data/cleaned.csv.csv',
    encoding='utf-8-sig',
    dtype={
        'has_individual_heating': 'UInt8',    # Par exemple
        'colonne_B': 'UInt16',   # Par exemple
        'colonne_C': 'UInt64'    # Par exemple
    }
)